// Dark mode switching 
.dark-mode-switching
    .d-flex.w-100.h-100.align-items-center.justify-content-center
        .dark-mode-text.text-center
            i.bi.bi-moon
            p.mb-0 Switching to dark mode

        .light-mode-text.text-center
            i.bi.bi-brightness-high
            p.mb-0 Switching to light mode

// RTL mode switching 
.rtl-mode-switching
    .d-flex.w-100.h-100.align-items-center.justify-content-center
        .rtl-mode-text.text-center
            i.bi.bi-text-right
            p.mb-0 Switching to RTL mode

        .ltr-mode-text.text-center
            i.bi.bi-text-left
            p.mb-0 Switching to default mode